@model CapaEntidad.ProductoBE

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cuv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarcaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoTipoOferta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoSAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoActivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cuv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarcaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoTipoOferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoSAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoActivo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnioCampania }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnioCampania }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnioCampania })
        </td>
    </tr>
}

</table>
